In [53]:
import pandas as pd
Data=pd.read_excel("CFO Prediction Model vs Act_FY24.xlsx")

In [57]:
Data.rename(columns={'Unnamed: 1':'Shift','Unnamed: 3':"WROM_Al2O3","SO_Al_Act":"SO_Al2O3","SL_Al Act":"SL_Al2O3","SL PD":"SL_PulpDen","SL +60":"SL_60","SL +100":"SL_100","SL +300" : "SL_300","Unnamed: 14":"CFO_Al2O3","Day/ Shift":"Date",'CFO +10':"CFO_10"},inplace=True)

In [72]:
x={'Unnamed: 1':'Shift','Unnamed: 3':"WROM_Al2O3","SO_Al_Act":"SO_Al2O3","SL_Al Act":"SL_Al2O3","SL PD":"SL_PulpDen","SL +60":"SL_60","SL +100":"SL_100","SL +300" : "SL_300","Unnamed: 14":"CFO_Al2O3",'CFO +10':"CFO_10","Day/ Shift":"Date"}

In [73]:
Data.columns

Index(['Date', 'Shift', 'Wet ROM', 'WROM_Al2O3', 'Unnamed: 4', 'Unnamed: 5',
       'SO_Al2O3', 'SL_Al2O3', 'SL_PulpDen', 'SL_60', 'SL_100', 'SL_300',
       'CFO_10', 'CFO Al2O3%', 'CFO_Al2O3', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Jig Al2O3', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', '* with HCC Qnty./3 & Qlty.',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27'],
      dtype='object')

In [74]:
df=Data.iloc[1:,:-1][x.values()]

In [77]:
df.dropna(inplace=True)

In [79]:
df.to_csv("CFO_2024_1.csv")

In [68]:
Data.iloc[1:,:-1]

,Date,Shift,Wet ROM,WROM_Al2O3,Unnamed: 4,Unnamed: 5,SO_Al2O3,SL_Al2O3,SL_PulpDen,SL_60,...,Unnamed: 17,Jig Al2O3,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,* with HCC Qnty./3 & Qlty.,Unnamed: 25,Unnamed: 26
1,2023-04-01,A,9800,4.843574,4.511224,93.138343,2.07,10.57,1.2,2.4,...,0.776426,0,NaN,0,NaN,NaN,NaN,Pred. Ranges All Data,NaN,NaN
2,2023-04-01,B,5900,4.892091,4.232203,86.51113,2.25,10.96,1.27,2.7,...,0.227909,0,NaN,0,NaN,NaN,NaN,92,Total Data,Accuracy
3,2023-04-01,C,7200,3.738633,4.472222,80.378138,1.67,12.00,1.33,2.9,...,1.351367,0,NaN,0,NaN,NaN,NaN,21,<=0.2,0.228261
4,2023-04-02,A,5900,3.442515,4.032203,82.870427,2.55,10.54,1.35,1.8,...,0.817485,0,NaN,0,NaN,NaN,NaN,21,<=0.25,0.228261
5,NaT,B,NaN,3.565219,0,0,2.10,8.89,1.31,2.4,...,1.564781,0,NaN,0,NaN,NaN,NaN,21,<=0.3,0.228261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094,NaT,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1095,NaT,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1096,2023-03-31,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097,NaT,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1098,NaT,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
Data["Date"] = pd.date_range("2023-04-01", "2024-03-31")

ValueError: Length of values (366) does not match length of index (1099)

In [69]:
start_date = "2023-04-01"
end_date = "2024-03-31"
date_range = pd.date_range(start_date, end_date)

# Update the "Date" column with the new date range
Data["Date"] = date_range

ValueError: Length of values (366) does not match length of index (1099)